.hifi-sidebar-button-active{
    background: #05acaf;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 10px white;
    transition: all 400ms;
}

.hifi-sidebar-button{
    background: none;
    color: white;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    transition: all 400ms;
    filter: opacity(.5)
}
.hifi-sidebar-button:hover{
    background-color: #05acaf;
    filter: opacity(1)
}


.hifi-header{
    z-index: 999;
    color: #05acaf;
    position: fixed;
    text-shadow:0 0 5px #a6a6a679;
    top: 80px;
    left: 10px;
}

@media screen and (max-width: 600px) {
   .hifi-header{
        font-size: 3vw;
    }

    .hifi-sidebar-button{
        font-size: 100%;
        width: 80px;
        cursor: pointer;
        transition: all 400ms;
    }

    .hifi-sidebar-button-active{
        font-size: 100%;
        width: 80px;
        transition: all 400ms;
    }
}