.hifi-header{
    z-index: 999;
    color: #05acaf;
    position: fixed;
    text-shadow:0 0 5px #a6a6a679;
    height: 48px;
    top: 80px;
    left: 10px;
}

.hifi-sidebar-button-active{
    background: #05acaf;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 10px white;
    transition: all 400ms;
}

.hifi-sidebar-button{
    background: rgb(27, 27, 27);
    color: white;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    transition: all 400ms;
}
.hifi-sidebar-button:hover{
    background-color: #05acaf;
}

@media screen and (max-width: 600px) {

   .hifi-header{
        z-index: 10;
        position: fixed;
        background: rgba(27, 27, 27, 0.838);
        border-radius: 10px;
        left: 124px;
        top: 72px;
        font-size: 3vw;
    }

    .hifi-sidebar-button{
        font-size: 100%;
        width: 80px;
        height: 30px;
        cursor: pointer;
        transition: all 400ms;
        z-index: 999;
    }

    .hifi-sidebar-button-active{
        font-size: 100%;
        width: 80px;
        height: 30px;
        transition: all 400ms;
    }
}