.home-container{
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 34px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    transition: all .5s;
}

.circle:hover{
    box-shadow: 0 0 20px white;
    border:black 1px solid;
}

.yellow{
    background-color: #ffcd0c;
}

.magenta{
    position: relative;
    background-color: #d007a9;
    top: -100px;
    right: 150px;
}

.aqua{
    position: relative;
    background-color: #05acaf;
    top: -450px;
    left: 150px;
}

a{
    text-decoration: none;
    filter: brightness(.85);
    transition: all .5s;
}

a:hover{
    filter: brightness(1.05);
}