.home-container{
    padding-top: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 34px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    transition: all .25s;
}

.circle:hover{
    box-shadow: 0 0 25px white;
    border:black 1px solid;
    color: black;
}

.yellow{
    background-color: #ffcd0c;
}

.magenta{
    position: relative;
    background-color: #d007a9;
    top: -100px;
    right: 150px;
}

.aqua{
    position: relative;
    background-color: #05acaf;
    top: -450px;
    left: 150px;
}

a{
    text-decoration: none;
    filter: brightness(.85);
    transition: all .25s;
}

a:hover{
    filter: brightness(1.05);
}

@media screen and (max-width: 700px) {
    .circle{
        font-size: 20px;
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px white;
        border:black 1px solid;
        color: black;
        border-radius: 100%;
        transition: all .25s;
    }

    .yellow{
        background-color: #ffcd0c;
    }
    
    
    .magenta{
        position: relative;
        background-color: #d007a9;
        top: -75px;
        right: 85px;
    }
    
    .aqua{
        position: relative;
        background-color: #05acaf;
        top: -275px;
        left: 85px;
    }

}