.orange-header{
    z-index: 999;
    position: fixed;
    color: #ffcd0c;
    text-shadow:0 0 5px #a6a6a6;
    top: 80px;
    left: 10px;
}

.orange-sidebar-button:hover{
    background-color: #ffcd0c;
    filter: opacity(1)
}
.orange-sidebar-button-active{
    background: #ffcd0c;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 10px white;
    transition: all 400ms;
}

.orange-sidebar-button{
    background: none;
    color: white;
    font-size: 2vw;
    border-radius: 5px;
    padding: .5%;
    margin: .5%;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    transition: all 400ms;
    filter: opacity(.5)
}



@media screen and (max-width: 600px) {

    .orange-header{
        z-index: 10;
        position: fixed;
        left: 12px;
        width: 375px;
        top: 72px;
        font-size: 3vw;
    }

    .orange-sidebar-button{
        font-size: 100%;
        width: 80px;
        height: 30px;
        cursor: pointer;
        transition: all 400ms;
        z-index: 999;
    }

    .orange-sidebar-button-active{
        font-size: 100%;
        width: 80px;
        height: 30px;
        transition: all 400ms;
    }
}
