.navbar {
    height: 90px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.49) 4px solid;
}

.title{
    margin-left: 100px;
}

.logo{
    width: 85px;
}

.main-title {
    position: relative;
    color: rgb(255, 255, 255);
    top: -120px;
    left: 95px;
    width: 520px;
    font-size: 45px;
    cursor: pointer;
    transition: all 400ms;
}

.main-title:hover {
    color: #d18f7f;
}

.sub-title {
    position: relative;
    color: rgb(255, 255, 255);
    top: -158px;
    left: 95px;
    width: 715px;
}

.nav-menu {
    display: flex;
    justify-content: right;
    top: 30px;
    width: 100%;
    position: absolute;
  }

.nav-links {
    color: white;
    font-size: 1.5em;
    display: flex;
    width: 100%;
    justify-content: center;    
    align-items:center;
}


.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin: 0 5%;
    cursor: pointer;
    filter:brightness(.5);
    transition: filter 400ms;
}
.nav-links a:hover {
    filter: brightness(.75);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgba(255, 255, 255, 0.517);
    top: 56px;
    right: 100px;
    font-size: 40px;
    cursor: pointer;
}

.menu-dashes {
    position: absolute;
    right: 1px;
    top: -40px;
    margin: 10px 0 10px 0;
    transition: all 50ms;
}

.menu-dashes-angle1{
    position: absolute;
    transform: rotate(225deg);
    top: -15px;
    right: 0px;
    margin: -20px 0 -20px 0;
    transition: all 500ms;
}

.menu-dashes-angle2{
    position: absolute;
    transform: rotate(-225deg);
    top: -15px;
    right: 0px;
    transition: all 500ms;
    margin: -20px 0 -20px 0;
    filter: opacity(.6);
}

.nav-menu {
    height: 0px;
    position: absolute;
    top: 70px;
    left: 0px;
    overflow: hidden;
  }

.nav-menu.active {
    z-index: 9999;
    height: 40px;
    top: 90px;
    left: 0px;
    background: rgb(27, 27, 27);
    border-bottom: rgba(255, 255, 255, 0.49) 4px solid;
    transition: height 500ms ease;;
  }

@media screen and (max-width: 1050px) {
    .navbar{
        height: 80px;
    }
    
    .title{
        margin-left: 0px;
    }
    
    
    .main-title{
        font-size: 30px;
        width: 200px;
        top: -112px;
        left: 80px;
    }

    .main-title:hover {
        color: white;
    }

    .sub-title{
        display: none;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: rgba(255, 255, 255, 0.517);
        top: 56px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-menu.active {
        z-index: 9999;
        height: 100px;
        top: 90px;
        left: 0px;
        background: rgb(27, 27, 27);
        border-bottom: rgba(255, 255, 255, 0.49) 4px solid;
        transition: height 500ms ease;;
    }

    

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-items:left;
        margin-left: 15px;
        top: 5px;
        font-size: 25px;
    }

    .nav-item {
        padding-bottom: 3px;
    }



    .hide {
        display: none;
    }
}
