.navbar {
    position: fixed;
    display: flex;
    background: rgb(27, 27, 27);
    z-index: 500;
    height: 90px;
    width: 100%;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.49) 1px solid;
}

.nav-menu {
    height: 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    overflow: hidden;
}

.menu-icon {
    display: none;
}

.logo{
    width: 85px;
}

.title{
    margin-left: 100px;
    height: 90px;
}

.main-title {
    position: relative;
    color: rgb(255, 255, 255);
    top: -120px;
    left: 95px;
    width: 520px;
    font-size: 45px;
    cursor: pointer;
    transition: all 400ms;
}

.sub-title {
    position: relative;
    color: rgb(255, 255, 255);
    top: -158px;
    left: 95px;
    width: 715px;
}

@media screen and (max-width: 920px) {
    .navbar{
        height: 80px;
    }

    .title{
        margin-left: -3px;
        width: 100%;
    }
    
    .main-title{
        font-size: 1.6em;
        width: 100%;
        top: -100px;
        left: 65px;
    }

    .sub-title{
        width: 70%;
        font-size: .6em;
        top: -122px;
        left: 80px;
    }

    .nav-list-item {
        text-decoration: none;
        font-size: 5.5vw;
        list-style: none;
        margin-bottom: 5px;
    }

    .color-yellow {
        color: #ffcd0c;
    }

    .color-magenta {
        color: #d007a9;
    }

    .color-aqua {
        color: #05acaf;
    }

    .hide {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: rgba(255, 255, 255, 0.517);
        top: 50px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: all 100ms ease;
    }

    .menu-icon-180 {
        transform: rotate(540deg);
        transition: all 400ms ease;
    }

    .nav-menu.active {
        height: 95px;
        width: 100%;
        background: rgb(27, 27, 27);
        top: 62px;
        left: 0px;
        border-bottom: rgb(123, 123, 123) 1px solid;
        transition: height 250ms ease;
    }
}
