.orange-container{
    padding-top: 120px;
    display: flex;
    align-items: center;
}

.sidebar-container{
    position: fixed;
    display: flex;
    margin-top: 500px;
    margin-left: 30px;
    width: 10%;
    height: 400px;
    flex-direction: column;
    align-content: left;
    justify-content: space-between;
    z-index: 999;
}

.link-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: -30px;
}

.link-button{
    background: none;
    margin-top: 20px;
    color: white;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    transition: all 400ms;
    filter: opacity(.5)
}

.displayed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    width: 80%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(28, 28, 28);
    color: rgb(188, 188, 188);
}

.active{
    position: absolute;
    top: 150px;
    left: 25%;
    width: 80%;
}

.hide{
    display: none;
}


@media screen and (max-width: 600px) {
    .orange-container{
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-container{
        position: fixed;
        z-index: 999;
        top: -375px;
        margin-left: 0;
        flex-direction: row;
        height: 50px;
        width: 100%;
        justify-content: space-around;
    }

    .link-button-container{
        display: none;
    }

    .link-button{
       display: none;
        
    }

    .active{
        position: absolute;
        top: 180px;
        left: 7.5%;
        z-index:0;
    }

    .displayed{
        width: 100%;
    }
}

